extends ../layout

block content
    .row.mt-5
        .col-sm-9
            h1.text-secondary #{plant.commonName} (#{plant.variety})
        .col-sm-3.mt-2
            if currentUser
                a.btn.btn-primary(href='/plants/edit/'+plant._id) Edit
                a.btn.btn-danger.float-right.delete-plant(href='#',data-id=plant._id) Delete
    .row.ml-1.mr-1.bg-light
        .col-sm-3
        .col-sm-9.border-left
            h5 
                i #{plant.latinName} 
            p=plant.description
            | hardiness: #{plant.hardiness}
    