extends ../layout

block content
    .row.mt-5
        .col-sm-9
            h1.text-secondary #{organism.latinName}
        .col-sm-3.mt-2
            if currentUser
                a.btn.btn-primary(href='/organisms/edit/'+organism._id) Edit
                a.btn.btn-danger.float-right.delete-organism(href='#',data-id=organism._id) Delete
    .row.ml-1.mr-1.bg-light
        .col-sm-3
        .col-sm-9.border-left
            h5 
                each commonName in organism.commonNames
                    i #{commonName.name} (#{commonName.language}) 
            p=organism.description
    